:root {
  --clr-primary: hsl(7 99% 70%);
  --clr-secondary: hsl(51 100% 49%);
  --clr-graphic-design-text: hsl(167 40% 24%);
  --clr-photography-text: hsl(198 62% 26%);
  --clr-footer-bg: hsl(168 34% 41%);
  --clr-footer-text: hsl(212 27% 19%);
  --clr-text: hsl(213 9% 39%);
  --clr-text-light: hsl(232 10% 55%);
  --clr-text-very-light: hsl(210 4% 67%);
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 0%);
  --fs-400: 1.125rem;
  --fw-400: 600;
  --fw-500: 700;
  --fw-700: 900;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.ff-serif {
  font-family: "Fraunces", serif;
}

.ff-sans-serif {
  font-family: "Barlow", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

.hero {
  min-height: 100vh;
  padding: 1.5em 3em;
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media (max-width: 45em) {
  .hero {
    min-height: 80vh;
    padding: 2.5em 1.5em;
  }
}

.hero .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--fs-400);
}

.hero .header .logo img {
  width: 10rem;
}

.hero .header .mobile-nav-toggle {
  display: none;
}

.hero .header .navbar {
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--fw-400);
}

.hero .header .navbar .nav__item {
  margin-left: 2em;
}

.hero .header .navbar .nav__item a {
  text-decoration: none;
  color: var(--clr-white);
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.hero .header .navbar .nav__item a:hover {
  color: var(--clr-black);
}

.hero .header .navbar .btn__contact a {
  font-size: 0.875rem;
  color: var(--clr-black);
  background-color: var(--clr-white);
  padding: 1.25em 1.75em;
  border-radius: 100vw;
  -webkit-transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.hero .header .navbar .btn__contact:hover a {
  color: var(--clr-white);
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 45em) {
  .hero .header .navbar {
    background-color: var(--clr-white);
    position: absolute;
    z-index: 999;
    top: 15%;
    right: 8vw;
    left: 8vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2.25em;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    opacity: 0;
    -webkit-transition: opacity 500ms ease, -webkit-transform 350ms ease;
    transition: opacity 500ms ease, -webkit-transform 350ms ease;
    transition: transform 350ms ease, opacity 500ms ease;
    transition: transform 350ms ease, opacity 500ms ease, -webkit-transform 350ms ease;
  }
  .hero .header .navbar[data-visible="true"] {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .hero .header .navbar::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 98%;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--clr-white);
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 100% 0);
            clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  }
  .hero .header .navbar .nav__item:not(:last-child) {
    margin: 0 auto 1.5em;
  }
  .hero .header .navbar .nav__item:last-child {
    margin: 0.5em auto;
  }
  .hero .header .navbar .nav__item a {
    color: var(--clr-text-light);
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  }
  .hero .header .navbar .nav__item a:hover {
    color: var(--clr-black);
  }
  .hero .header .navbar .btn__contact a {
    color: var(--clr-black);
    background-color: var(--clr-secondary);
  }
  .hero .header .navbar .btn__contact:hover a {
    color: var(--clr-black);
    background-color: rgba(250, 212, 0, 0.5);
  }
}

@media (max-width: 45em) {
  .hero .header .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 1.5em;
    background: url("/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

.hero .hero__body {
  place-items: center;
}

.hero .hero__body .hero__title {
  text-align: center;
  font-weight: var(--fw-700);
  line-height: 1.2;
  font-size: clamp(2.5rem, 4.5vw, 4.25rem);
  color: var(--clr-white);
  letter-spacing: 8px;
  margin: 2em 0;
}

@media (max-width: 45em) {
  .hero .hero__body .hero__title {
    margin: 2em 0 1em;
  }
}

.about {
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  overflow-x: hidden;
}

.about .transform-brand__wrap {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 50em) {
  .about .transform-brand__wrap {
    width: 100vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 50em) {
  .about .transform-brand__wrap .transform-brand__bg {
    width: 50vw;
  }
}

.about .transform-brand__wrap .transform-brand {
  padding: 2em 1.5em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (min-width: 50em) {
  .about .transform-brand__wrap .transform-brand {
    text-align: left;
    padding: 0 7.5em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (min-width: 50em) {
  .about .transform-brand__wrap .transform-brand .about__title {
    width: 15ch;
  }
}

.about .transform-brand__wrap .transform-brand .about__link::before {
  background-color: var(--clr-secondary);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.about .transform-brand__wrap .transform-brand .about__link:hover::before {
  opacity: 1;
}

.about .stand-out__wrap {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 50em) {
  .about .stand-out__wrap {
    width: 100vw;
    text-align: left;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.about .stand-out__wrap .stand-out__bg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 50em) {
  .about .stand-out__wrap .stand-out__bg {
    width: 50vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.about .stand-out__wrap .stand-out {
  padding: 2em 1.5em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  place-items: center;
}

@media (min-width: 50em) {
  .about .stand-out__wrap .stand-out {
    padding: 0 7.5em;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

@media (min-width: 50em) {
  .about .stand-out__wrap .stand-out .about__title {
    width: 20ch;
  }
}

.about .stand-out__wrap .stand-out .about__link::before {
  background-color: var(--clr-primary);
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.about .stand-out__wrap .stand-out .about__link:hover::before {
  opacity: 1;
}

.about .about__title {
  margin: 1em 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: var(--fw-700);
}

.about .about__body-text {
  color: var(--clr-text-light);
}

.about .about__link {
  font-size: 1rem;
  color: var(--clr-black);
  display: inline-block;
  margin: 2em 0;
  text-decoration: none;
  letter-spacing: 1px;
}

.about .about__link::before {
  content: "";
  text-align: center;
  z-index: -99;
  position: absolute;
  width: 8.5rem;
  height: 0.65rem;
  border-radius: 100vw;
  -webkit-transform: translate(-6%, 150%);
          transform: translate(-6%, 150%);
  opacity: 0.25;
}

.services {
  overflow-x: hidden;
}

.services .graphic-design {
  background: url("/images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 25em 1.5em 3.5em;
  font-weight: var(--fw-400);
  color: var(--clr-graphic-design-text);
}

@media (min-width: 45em) {
  .services .graphic-design {
    width: 50vw;
    padding: 25em 2em 3.5em;
    background: url("/images/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
  }
}

.services .photography {
  background: url("/images/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 25em 1.5em 3.5em;
  font-weight: var(--fw-400);
  color: var(--clr-photography-text);
}

@media (min-width: 45em) {
  .services .photography {
    width: 50vw;
    padding: 25em 2em 3.5em;
    background: url("/images/desktop/image-photography.jpg");
    background-repeat: no-repeat;
  }
}

.services .services__title {
  font-size: 1.625rem;
  font-weight: var(--fw-700);
  margin-bottom: 1em;
}

.services .services__body-text {
  opacity: 0.75;
  font-size: 0.95rem;
}

@media (min-width: 50em) {
  .services .services__body-text {
    max-width: 40ch;
    margin: 0 auto;
  }
}

@media (min-width: 50em) {
  .services {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.testimonial {
  padding: 3.5em 2em;
}

.testimonial .testimonial__title {
  text-align: center;
  opacity: 0.45;
  font-size: 1rem;
  font-weight: var(--fw-500);
  letter-spacing: 3.5px;
}

.testimonial .client {
  padding: 4em 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: var(--fw-400);
}

.testimonial .client img {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 2em;
}

.testimonial .client .client__review {
  opacity: 0.6;
  margin-bottom: 2em;
  font-size: var(--fs-400);
}

.testimonial .client .client__details .client--name {
  opacity: 0.9;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  margin-bottom: 0.35em;
}

.testimonial .client .client__details .client--position {
  font-size: 0.9rem;
  opacity: 0.4;
}

@media (min-width: 50em) {
  .testimonial {
    padding: 8em;
  }
  .testimonial .testimonial__title {
    font-size: 1.25rem;
    font-weight: var(--fw-700);
    letter-spacing: 4.5px;
    margin-bottom: 2em;
  }
  .testimonial .client-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial .client {
    padding: 4em 1.5em;
  }
  .testimonial .client .client__review {
    margin: 1em 0 3em;
    line-height: 1.6;
  }
}

.projects {
  overflow-x: hidden;
      grid-template-areas: "img1 img2" "img3 img4";
}

@media (min-width: 50em) {
  .projects {
        grid-template-areas: "img1 img2 img3 img4";
  }
}

.projects .project-image {
  width: 100%;
  aspect-ratio: 1;
}

@media (min-width: 50em) {
  .projects .project-image {
    width: 25vw;
    height: 65vh;
  }
}

.projects .project-image1 {
  background: url("/images/mobile/image-gallery-milkbottles.jpg");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

@media (min-width: 50em) {
  .projects .project-image1 {
    background: url("/images/desktop/image-gallery-milkbottles.jpg");
    background-size: cover;
  }
}

.projects .project-image2 {
  background: url("/images/mobile/image-gallery-orange.jpg");
  background-size: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
}

@media (min-width: 50em) {
  .projects .project-image2 {
    background: url("/images/desktop/image-gallery-orange.jpg");
    background-size: cover;
  }
}

.projects .project-image3 {
  background: url("/images/mobile/image-gallery-cone.jpg");
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img3;
}

@media (min-width: 50em) {
  .projects .project-image3 {
    background: url("/images/desktop/image-gallery-cone.jpg");
    background-size: cover;
  }
}

.projects .project-image4 {
  background: url("/images/mobile/image-gallery-sugar-cubes.jpg");
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img4;
}

@media (min-width: 50em) {
  .projects .project-image4 {
    background: url("/images/desktop/image-gallery-sugarcubes.jpg");
    background-size: cover;
  }
}

.footer {
  background-color: rgba(69, 140, 126, 0.7);
  padding: 4.5em 1em 5em;
  text-align: center;
  position: relative;
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
}

.footer .footer-wrap {
  max-width: 22rem;
  margin: 0 auto;
}

.footer .footer__logo svg {
  width: 12rem;
  fill: var(--clr-graphic-design-text);
}

.footer .footer__nav {
  margin: 2em 0 5em;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__nav-item {
  list-style: none;
  margin-left: 0;
}

.footer .footer__nav-item a {
  text-decoration: none;
  color: var(--clr-graphic-design-text);
  opacity: 0.75;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer .footer__nav-item a:hover {
  color: var(--clr-white);
}

.footer .socials {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3.5em;
}

.footer .socials a svg {
  fill: var(--clr-graphic-design-text);
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.footer .socials a:hover svg {
  fill: var(--clr-white);
}

.footer .attribution {
  position: absolute;
  inset: 90% 0 0 0;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: var(--clr-white);
}

.footer .attribution a {
  color: var(--clr-footer-text);
  opacity: 0.75;
}

.animation {
  -webkit-animation: upDown 800ms infinite cubic-bezier(0.13, 0.42, 0.48, 0.93);
          animation: upDown 800ms infinite cubic-bezier(0.13, 0.42, 0.48, 0.93);
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  30% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  30% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  80% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */